.best-offer-fieldset-section {
    max-width: 1119px;
    margin-top: 130px;
    padding: 56px;
    width: 100%;
    background: rgb(227, 246, 245);
}

.best-offer-fieldset {
    border: 1px solid rgb(65, 122, 130);
    display: flex;
    flex-direction: column;
    padding: 56px 0 51px 0;
}

.best-offer-fieldset-legend {
    color: rgb(65, 122, 130);
    font-family: "PT Sans";
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    padding: 0 28px;
}

.best-offer-fieldset-title {
    color: rgb(5, 46, 76);
    font-family: "Cormorant Infant";
    font-style: italic;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

.best-offer-fieldset-pages {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 16px;
    gap: 3px;
}

.best-offer-fieldset-pages__btn {
    padding: 5px 10px;
    color: rgb(65, 122, 130);
    font-family: "Cormorant Infant";
    font-style: italic;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    border-radius: 100%;
    background: none;
    border: 1px solid rgb(65, 122, 130);
    cursor: pointer;
}

.best-offer-fieldset-pages__btn:hover {
    color: rgb(227, 246, 245);
    background: rgb(65, 122, 130);
}

.best-offer-fieldset-pages__dash {
    color: rgb(65, 122, 130);
    font-weight: 600;
}

.best-offer-fieldset-checkbox {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    gap: 102px;
}

.best-offer-fieldset-checkbox-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 315px;
    width: 100%;
    
}

.best-offer-fieldset-checkbox__ch[type="checkbox"] {
    display: none;
}

.best-offer-fieldset-checkbox__label {
    color: rgb(5, 46, 76);
    font-family: "PT Sans";
    font-size: 16px;
    font-weight: 400;
    position: relative;
}

.best-offer-fieldset-checkbox__label::before,
.best-offer-fieldset-checkbox__label::after{
    position: absolute;
    content: "";
}

.best-offer-fieldset-checkbox__label::before{
    display: inline-block;
    max-width: 16px;
    min-width: 16px;
    width: 100%;
    min-height: 16px;
    max-height: 16px;
    height: 16px;
    cursor: pointer;
    background-color: #FFFFFF;
    border: 2px solid rgb(65, 122, 130);
    left: -34px;
    top: 0px;
}

.best-offer-fieldset-checkbox__label::after {
    display: inline-block;
    height: 6px;
    width: 9px;
    border-left: 2px solid rgb(65, 122, 130);
    border-bottom: 2px solid rgb(65, 122, 130);
    transform: rotate(-45deg);
    left: -29px;
    top: 3px;
}

.best-offer-fieldset-checkbox__ch + .best-offer-fieldset-checkbox__label::after{
    content: none;
}

.best-offer-fieldset-checkbox__ch:checked + .best-offer-fieldset-checkbox__label::after{
    content: "";
}

.best-offer-fieldset-next__btn {
    margin: 42px auto 0 auto;
    padding: 8px 24px;
    background: rgb(255, 255, 255);
    color: rgb(5, 46, 76);
    font-family: "PT Sans";
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    text-transform: uppercase;
    border: 1px solid rgb(5, 46, 76);
    cursor: pointer;
    max-width: 87px;
    width: 100%;
}