.header {
    display: flex;
    position: relative;
}

.header-slider {
    background-image: url('../img/png/slider.png');
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1368px;
    width: 100%;
    min-height: 800px;
    max-height: 800px;
    height: 100%;
    padding: 56px 103px 53px 87px;
}

.header-menu {
    background-color: rgb(242, 246, 247);
    padding: 36px 20px 25px 22px;
}

.header-menu-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-menu-list__item-logo {
    padding: 5px 1px;
    background-color: #B84C74;
    border-radius: 100%;
    max-width: 30px;
    max-height: 30px;
    width: 100%;
    height: 100%;

}

.logo {
    color: rgb(255, 255, 255);
    font-family: "Inter";
    font-size: 10px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
}

.header-menu-list__burger {
    padding-top: 46px;
    cursor: pointer;
}

.header-menu-list__item-shutter {
    display: inherit;
    align-items: inherit;
    flex-direction: column;
    gap: 16px;
    padding-top: 48px;
}

.header-menu-list__item-search {
    padding-top: 140px;
}

.header-slider {
    display: flex;
    justify-content: space-between;
}

.header-slider-right-descr {
    color: rgb(5, 46, 76);
    font-family: "Cormorant Infant";
    font-size: 78px;
    font-weight: 300;
    text-transform: uppercase;
    padding-top: 72px;
}

.header-slider-right-descr__span {
    font-weight: 600;
    font-style: italic;
}

.header-slider-right-descr-lorem {
    padding-top: 24px;
    color: rgb(5, 46, 76);
    font-family: "PT Sans";
    font-size: 16px;
    font-weight: 400;
    max-width: 477px;
    width: 100%;
    line-height: 21px;
}

.header-calk_btn {
    padding: 8px 24px;
    background-color: #FFFFFF;
    color: rgb(5, 46, 76);
    font-family: "PT Sans";
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    margin-top: 48px;
}

.header-slider-pages {
    display: flex;
    align-items: center;
    gap: 3px;
    padding-top: 169px;
    max-width: 77px;
    width: 100%;
}

.header-slider-pages-numbers {
    color: rgb(5, 46, 76);
    font-family: "PT Sans";
    font-size: 13px;
    font-weight: 400;
}

.header-slider-pages__btn {
    background: none;
    background-image: url('../img/svg/icons/Arrow_left.svg');
    background-repeat: no-repeat;
    background-position: center;
    padding: 7px;
    max-width: 16px;
    width: 100%;
    border: none;
    cursor: pointer;
    outline: none;
}

.header-slider-pages__btn_right {
    transform: scale(-1, -1);
}

.header-slider-left-btns {
    display: flex;
    align-items: center;
    gap: 17px;
}

.header-slider-left-order-btn {
    color: rgb(255, 255, 255);
    font-family: "PT Sans";
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 8px 24px;
    background: rgb(184, 76, 116);
    border: none;
    outline: none;
    cursor: pointer;
}

.header-slider-left-cart-btn {
    background: #FFFFFF;
    background-image: url('../img/svg/icons/cart.svg');
    background-repeat: no-repeat;
    background-position: center;
    padding: 29px 32px 11px 8px;
    border-radius: 100%;
    border: none;
    outline: none;
    cursor: pointer;
}

.header-menu-links {
    cursor: pointer;
    position: relative;
}

.imgH {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.imgHburger{
    top: 2px;
}

.imgHsearch{
    top: -11px;
}

.img {
    z-index: 0;
}

.header-menu-links:hover .img , .menu-section-links-block:hover .img  {
    z-index: -1;
    visibility: hidden;
}

.header-menu-links .imgH, .menu-section-links-block .imgH{
    z-index: -1;
    visibility: hidden;
}

.header-menu-links:hover .imgH, .menu-section-links-block:hover .imgH{
    z-index: 1;
    visibility: visible;
}
.menu-section-links-block:hover .menu-section-descr{
    color: #B84C74;
}
